@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Quicksand');
/*
$font_title : 'Lato', sans-serif;
$font_subtitulo: "Gentium Book Basic script=all rev=2";
$font_parrafo: 'Quicksand', sans-serif;
*/